<!DOCTYPE html>
<html>
  <head>
    <title>{{request.path.split('/')[-1]}}</title>
    <link rel="stylesheet" href="{{ stylesheet }}">
  </head>
  <body>
    <div class="content">
{{ html }}
    </div>
  </body>
</html>
