---
resources:
    tb:s3:S3BucketWebsite:
        site:
            bucket_name: {{ s3_bucket_name }}
            object_dir: {{ source_dir }}
            website_config:
                index_document:
                    suffix: index.html
    
    tb:cloudfront:CloudFrontDistribution:
        site:
            logging_bucket_name: {{ logging_bucket_name }}